body{
	margin:0;
	padding:0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*margin-bottom: 300px;*/
}

@import 'navbar';
@import 'responsive-navbar';
@import 'service-slider';
@import 'progress-menu';
@import 'blogs';
@import 'feedback';
@import 'ourServSlide';
@import 'manufactures';



// #testimonials-slider{
// 	#first-row{
// 		margin-top: 50px;
// 		margin-bottom: 80px;
// 		#testimonials-header{
// 			h1{	
// 			line-height: 1.16667;
//     		font-size: 58px;
//     	    font-weight: bold;
//     		color: #313132;}
// 			div{
// 				 height: 2px;
//     			width: 50px;
//     		    margin-top: 32px;
//     		    background: #42a4ff;
//     		    left:calc(50% - 25px);
//     		    position: absolute;
// 			}
// 		}
// 	}



	
// }













